<!-- start custom head snippets -->

<!-- insert favicons. use http://realfavicongenerator.net/ -->
<link rel="shortcut icon" href="/assets/res/favicon.ico" type="image/x-icon">
<link rel="icon" href="/assets/res/favicon.png">
<link rel="icon" sizes="57x57" href="/assets/res/favicon-32x32.png">
<link rel="icon" sizes="57x57" href="/assets/res/favicon-57x57.png">
<link rel="icon" sizes="72x72" href="/assets/res/favicon-72x72.png">
<link rel="icon" sizes="76x76" href="/assets/res/favicon-76x76.png">
<link rel="icon" sizes="114x114" href="/assets/res/favicon-114x114.png">
<link rel="icon" sizes="120x120" href="/assets/res/favicon-120x120.png">
<link rel="icon" sizes="144x144" href="/assets/res/favicon-144x144.png">
<link rel="icon" sizes="152x152" href="/assets/res/favicon-152x152.png">

<meta name="msapplication-TileColor" content="#FFFFFF">
<meta name="msapplication-TileImage" content="/assets/res/favicon-144x144.png">
<!-- end custom head snippets -->
